body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

form {
    width:50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h3 {
    background-color: #ccc;
    color: #000;
}

h2 {
    text-align: center;
    color: #000;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ddd;
}

textarea {
    width: 100%;
    padding: 5px;
}

button {
    padding: 10px;
    border: none;
    background: #007BFF;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.btns {
    text-align: center;
}

button:hover {
    background: #0056b3;
}

button[type = "reset"] {
    background: #6c757d;
}

button[type = "reset"]:hover {
    background: #5a6268;
}
